*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
}

.col-10{
    width: calc((50vw / 6)*5);
}

.col-2{
    width: calc(50vw / 6);
}

.row{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.col-10, .col-2{
   height: 350px;
   position: relative;

}

.col-10 img{
    object-fit: cover;
    object-position: center;
}

figure{
    height: 70px;
    position: relative;
}

figure::after{
    position: absolute;
    content: "";
    display: block;
    background-color: black;
    opacity: 0.4;
    top: 0;
    right: 0;
    bottom:0;
    left: 0;
}

figure img{
    object-fit: cover;
    object-position: center;
}

.descrizione{
    color: white;
    text-align: center;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.arrow{
    color: #222;
    border-radius: 50%;
    padding: 0 3.25px;
    background-color: #ddd;
    font-size: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999999;
}

.arrow-up{
    top: 10px;
}

.arrow-down{
    bottom: 10px;
}

 .active::after{
    opacity: 0;
}

.active{
    border: 2px solid white;
}

.img-secondarie{
    display: none;
}